<div class="item_partial">

  <div class="card" style="width: 50rem;">
    <img class="card-img-top" <%= image_tag "item_img_resize.jpg" %>
    <div class="card-block">
      <div class="row">
        <div class="col-xs-8">
          <h4><%= item.name %></h4>
          <h6><%= item.description %></h6>
        </div>
      <%= form_for order_item, remote: true do |form| %>
      <h4 class "text-right">Price: <span style="color: blue"><%= item.price %></span></h4>
        <div class="input-group">
          <%= form.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-button">
            <%= form.hidden_field :item_id, value: item.id %>
            <%= form.submit "Add to Cart", class: "btn-btn-primary" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
